body{
 width:430px ; height:500px;
  background-image: url("bg6.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 1900px 1600px;
}
div {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  color: RoyalBlue;
  font-weight: bold;
  justify:center;
}
h3 {
  text-align: left;
  font-family: cursive;
  font-size: 20px;
  color:RoyalBlue;
  justify:center;
}
button{
justify:center;
  color: RoyalBlue;
  border-style: outset;
  border-color: RoyalBlue ;
  border-width: 5px;
  padding: 10px;
  margin: 0;
 position: absolute;
 left: 55%;
 top:19.4%;
}
li{
  margin-top: 30px;
  font-family: cursive;
  font-size: 20px;
  color: RoyalBlue;
}
input{
  justify:center;
  color: RoyalBlue;
  padding: 10px;
  border-width: : 20px;
  border-color: RoyalBlue;
  border-style: outset;
  margin: 0;
 position: absolute;
 left: 40%;
 top: 20%;

}
